.header__desctop-menu {
  width: 100%;
  @media screen and (max-width: 767px) {
    display: none;
  }

  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
  }

  @media screen and (min-width: 1200px) {
    width: 100%;
    justify-content: space-between;
  }
}
