$colors: (
  'primary-white-color': #ffffff,
  'active-color': #2196f3,
  'dominant-text-color': #757575,
  'logo-link-color': #000000,
  'main-dark-color': #212121,
  'bgc-grayish': #f5f4fa,
  'dark-bgc': #2f303a,
  'bgc-hero-section': #c4c4c4,
  'color-mail-phone': rgba(255, 255, 255, 0.6),
  'color-border-portfolio': #eeeeee,
  'color-border-header': #ececec,
  'team-icon-color': #afb1b8,
  'bgc-icon-footer': rgba(255, 255, 255, 0.1),
  'modal-placeholder-color': rgba(117, 117, 117, 0.5),
  'color-modal-input-border': rgba(33, 33, 33, 0.2),
  'bgc-work-text': rgba(47, 48, 58, 0.8),
  'bgc-thumb-overlay': rgba(33, 150, 243, 0.9),
  'bgc-modal-backdrop': rgba(0, 0, 0, 0.2),
  'border-input-email': rgba(255, 255, 255, 0.3),
);

@function getColor($key) {
  @return map-get($colors, $key);
}

$gradient-hero: rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4);
$portfolio-item-gap: 30px;

$card-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
$card-shadow-portfolio: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
  1px 4px 6px rgba(0, 0, 0, 0.16);
$shadow-button: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
$button-modal-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

$main-cubic: cubic-bezier(0.4, 0, 0.2, 1);
